*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: cursive;
    
}
svg{
    width: 10px;
}

body{
    background-image: url(/assets/images/wallpaper.png);
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
   
}
.items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.items svg{
    width: 22px;
    height: 22px;
}
.icon-small svg{
    width:18px;
    height:18px;
}
.icon-large svg{
    width:26px;
    height:26px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.header h5{
    font-size: 1rem;
    color: aliceblue;

}
#calculator{
    background: #0738b357;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 4fr;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px 2px #fefefe57;
     width: min(95vw, 340px);  
     margin-top: 4rem;
}
.cal-title svg{
    width: 15px;
    cursor: pointer;
    color: aliceblue;
}
.calculator-svg img{
    width: 50px;

}
.result{
     font-size:2rem;
    text-align:right;
    overflow:hidden;
    white-space:nowrap;
    color: aliceblue;
}

.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 2px;
}
.items{
     background: rgba(255, 255, 255, 0.237);
     border: none;
     border-radius: 3px;
     cursor: pointer;
     font-weight: 500;
     color: aliceblue;
}

.items:hover{
    background:#ffffff55;
}

.items:active{
    transform:scale(.95);
}

button svg{
    pointer-events: none;
}
@media (max-width:768px){

    #calculator{
        width:50vw;
        padding:18px;
    }
    .result{
        font-size:2rem;
    }
}
@media (max-width:550px){

    #calculator{
        width:50vw;
        padding:15px;
        border-radius:12px;
    }

    .items{
        font-size:1rem;
    }

    .items svg{
        width:20px;
        height:20px;
    }

    .result{
        font-size:1.8rem;
    }

    .header h5{
        font-size:.9rem;
    }

    .calculator-svg img{
        width:40px;
    }

}